@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --toastify-font-family: 'Roboto' sans-serif;
  --toastify-color-progress-error: #FF0000;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}

.clip-left-shape {
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.clip-right-shape {
  clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
}

.clip-right-shape-inner {
  clip-path: polygon(8.4% 0, 100% 0, 100% 100%, 0.4% 100%);
}

.a {
  border-left: 5px;
  border-left-color: blue;
}