@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --toastify-font-family: 'Roboto' sans-serif;
  --toastify-color-progress-error: #FF0000;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.clip-left-shape {
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.clip-right-shape {
  clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
}

.clip-right-shape-inner {
  clip-path: polygon(8.4% 0, 100% 0, 100% 100%, 0.4% 100%);
}

.spinner-base {
  background: radial-gradient(farthest-side, currentColor 94%, #0000) top/var(--spinner-width) var(--spinner-width) no-repeat,
    conic-gradient(#0000 30%, currentColor);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - var(--spinner-width)), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - var(--spinner-width)), #000 0);
}
